$bgr-emph-color: #f0f0f0;
$bgr-emph-border-color: #008A25;

$menu-bgr-color: $bgr-emph-color;
$menu-selected-color: white;
$menu-selected-bgr-color: $bgr-emph-border-color;

$comment-color: #008A25;
$string-color: #005AD2;
